html{
    height: 100%;
}
body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}
h1{
    color: #7469B6;
}
h2{
    color: #70D4B4;
}
h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
h3 a{
    color: #304463;
    
}
a{
    text-decoration: none;
    color: #254336;
}
hr.custom {
    border: none;
    height: 2px;
    background-color: black;
    margin:0;
}
header{
    background-color: white;
}
header > h1{
    margin: 0px;
    padding-left: 2%;
}
header > h2{
    margin-top: 0px;
    margin-bottom: 3px;
    padding-left: 3%;
}
main{
    background-color: #FFE6E6 ;
}
main img{
    margin-bottom: 20px;
}
.content-projects-preview{
    padding: 2%;
}
footer{
    background-color: white;

}
footer > h4{
    padding-left: 45%;
    
}